# ───── General ─────
*.class
*.log
*.pyc
*.swp
.DS_Store
.history
.svn/
.atom/
.swiftpm/
migrate_working_dir/

# ───── IDEs ─────
*.iml
*.ipr
*.iws
.idea/
# Uncomment to ignore VS Code settings (optional)
#.vscode/

# ───── Flutter/Dart ─────
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# ───── Android ─────
android/local.properties
android/app/debug
android/app/profile
android/app/release

# ───── iOS ─────
# Nothing special unless using personal signing configs

# ───── Firebase ─────
# Never commit sensitive Firebase credentials
*.keystore
google-services.json
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# ───── Obfuscation / Symbolication ─────
app.*.symbols
app.*.map.json
